/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #404C51;
}

label {
  font-weight: bold;
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
    margin: 0 auto;
  }
}

@media (max-width: 640px) {
  .ocultarColunaMobile {
    display: none !important;
  }
}

a {
  color: #337ab7;
  text-decoration: none;
}

a:hover, a:focus {
  text-decoration: underline
}

body .ui-button.ui-state-default.ui-button-info {
  background-color: #14b3ae;
  border: 1px solid #14b3ae;
}
